#content
  #content_top
  #content_main
    %h2 About Content
    %br
    %br
    %label 
    %input#chkbx1{type: 'checkbox', name: 'chkbx', value: "chkbx1"}
    %br 
    %br 
    %label 
    %input#chkbx2{type: 'checkbox', name: 'chkbx',  value: "chkbx2"} 
    %br 
    %br 
    %label 
    %input#chkbx3{type: 'checkbox', name: 'chkbx', value: "chkbx3"}
    %br 
    %br
    %input#txtbx{type: 'textbox' , value: '0'}
    %br 
    %br 
  #content_bottom
  #footer
    %h3
      %a{:href => "http://www.bryantsmith.com"} florida web design
