#content
  #content_top
  #content_main
    %h2 Contact Content
    %select#country{:name => 'country'}
      %option{:value => "None"} -- Select --
      %option{:value => "China"} China
      %option{:value => "United State"} United State
      %option{:value => "Malaysia"} Malaysia
    %br
    %br
    %input#txtbox{type: 'textbox'}
    %br
    %br
    %select#color{:name => 'color'}
      %option{:value => "None"} -- Select --
      %option{:value => "Green" , id:'g'} Green
      %option{:value => "Red" ,id:'r'} Red 
      %option{:value => "Yellow" ,id:'y'} Yellow
    %br
    %br
    %div.d
    %br
    %br
  #content_bottom
  #footer
    %h3
      %a{:href => "http://www.bryantsmith.com"} florida web design
