#content
  #content_top
  #content_main
    %h2 Home Content
    %label Green
    %input#chk1{type: 'checkbox' , value: 'green'}
    %br 
    %br 
    %label Yellow
    %input#chk2{type: 'checkbox' , value: 'yellow'} 
    %br 
    %br 
    %label Black
    %input#chk3{type: 'checkbox', value: 'black'}
    %br 
    %br
    %div.green
    %br
    %br
    %br
    %div.yellow
    %br
    %br
    %br
    %div.black
    %br
    %br
    
  #content_bottom
  #footer
    %h3
      %a{:href => "http://www.bryantsmith.com"} florida web design
