#content
  #content_top
  #content_main
    = form_tag(demo_air_ticket_details_path, method: 'post' , :remote => true) do 
      %h1 Air Plane Ticketing
      %br
      = label_tag(:st_name, "Passenger name:")
      %br 
      %input{:name => "p_name", :type => "text" , :required => true}
      %br
      %br
      = label_tag(:cls_ist, "Departure of date and time:")
      %br
      %input{:name => "departure date", :type => "date"} &nbsp;&nbsp;
      %br
      %br
      = submit_tag("Submit") 
    #details_div
      %table{border: '1'}
        %tr
          %th Passenger name
          / %th Last Name
          / %th Address
          / %th DOB 
          / %th Gender
          / %th List of classes
        %tr
          %td#pn
          / %td#ln 
          / %td#ad 
          / %td#db  
          / %td#gen 
          / %td#lc
  #content_bottom
  #footer
    %h3
      %a{:href => "http://www.bryantsmith.com"} florida web design
