#content
  #content_top
  #content_main
    %h2 Products Content
    %p  
    %p  
    %table
      %tr
        %td Product cl1
        %td Product cl1
        %td Product cl1
      %tr
        %td Product cl1
        %td Product cl1
        %td Product cl1
      %tr
        %td Product cl1
        %td Product cl1
        %td Product cl1
    %br    
    %input#txtbox1{type: 'textbox' , name: 'txtbox1' , value: '0'}
    %br 
    %br 
    %input#txtbox2{type: 'textbox' , name: 'txtbox2' , value: '0'} 
    %br 
    %br 
    %input#txtbox3{type: 'textbox' , name: 'txtbox3' , value: '0'}
    %br 
    %br 
    %label 
    %input#chkbox1{type: 'checkbox', name: 'chkbox1', value: "chkbox1"}
    %br 
    %br 
    %label 
    %input#chkbox2{type: 'checkbox', name: 'chkbox2',  value: "chkbox2"} 
    %br 
    %br 
    %label 
    %input#chkbox3{type: 'checkbox', name: 'chkbox3', value: "chkbox3"}
    %br 
    %br
    %input#txtbox4{type: 'textbox' , name: 'txtbox4' , value: '0'}
    %br 
    %br   
    %input#txtbox5{type: 'textbox' , name: 'txtbox5' , value: '0'}
    %br 
    %br    
  #content_bottom
  #footer
    %h3
      %a{:href => "http://www.bryantsmith.com"} florida web design
