#content
  #content_top
  #content_main
    %h2 Services Content
    %input#txt1{type: 'textbox'}
    %br 
    %br 
    %input#txt2{type: 'textbox'} 
    %br 
    %br 
    %input#txt3{type: 'textbox', value: '0'}
    %br 
    %br 
    %input#txt4{type: 'textbox', value: '0'}
    %br 
    %br 
    %input#txt5{type: 'textbox', value: '0'}
    %br 
    %input#btn1{type: 'button'}
    %br 
  #content_bottom
  #footer
    %h3
      %a{:href => "http://www.bryantsmith.com"} florida web design
